<% content_for :page_title do %>
  <%= I18n.t('spree.feedback_review_for', review: @review.title) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to I18n.t('spree.back_reviews'), admin_reviews_path, icon: 'back' %></li>
<% end %>

<% if @collection.any? %>
  <table class="index" id="listing_feedback">
    <thead>
      <tr>
	    <th><%= I18n.t('spree.user') %></th>
	    <th><%= I18n.t('spree.stars') %></th>
	    <th><%= I18n.t('spree.date') %></th>
	    <th data-hook="admin_feedback_index_header_actions" class="actions"></th>
      </tr>
   </thead>
   <tbody>
	 <% @collection.each do |feedback| %>
	   <tr id="<%= dom_id(feedback) %>" class="<%= cycle('odd', 'even') %>">
	     <td><%= feedback.user.try(:login) || I18n.t('spree.anonymous') %></td>
	     <td><%= feedback.rating %></td>
	     <td><%= l(feedback.created_at, format: :short) %></td>
	     <td data-hook="admin_feedback_row_header_actions" class="actions"><%= link_to_delete feedback, no_text: true %></td>
	   </tr>
	<% end %>
	</tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= I18n.t('spree.no_results') %>
  </div>
<% end %>